<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>KhachHangController</servlet-name>
        <servlet-class>Controller.KhachHangController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SanPhamController</servlet-name>
        <servlet-class>Controller.SanPhamController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GioHangController</servlet-name>
        <servlet-class>Controller.GioHangController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>Controller.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminController</servlet-name>
        <servlet-class>Controller.AdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HoaDonController</servlet-name>
        <servlet-class>Controller.HoaDonController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>forgotPasswordController</servlet-name>
        <servlet-class>Controller.forgotPasswordController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.css</url-pattern>
        <url-pattern>*.js</url-pattern>
        <url-pattern>*.png</url-pattern>
        <url-pattern>*.jpg</url-pattern>
        <url-pattern>*.gif</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KhachHangController</servlet-name>
        <url-pattern>/TaiKhoan/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SanPhamController</servlet-name>
        <url-pattern>/SanPham/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GioHangController</servlet-name>
        <url-pattern>/GioHang/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminController</servlet-name>
        <url-pattern>/Admin/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HoaDonController</servlet-name>
        <url-pattern>/HoaDon/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>forgotPasswordController</servlet-name>
        <url-pattern>/forgot</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
